
<footer class="u-width--100  u-margin--t-auto  u-bg--blue--pale-turqoise  u-black  u-size--7  u-padding--y3">
    <div>
        <div class="o-grid  o-grid--fixed">
            <div class="o-grid__row">
                <div class="o-grid__col  o-grid__col--7@xs">
                    <ul class="o-list-reset">
                        <li class="u-inline  u-margin--r2  u-margin--r6@md">
                            <a href="{{ static_reference('colophon') }}" class="v-hover--underline  u-white  u-no-underline">
                                link 1
                            </a>
                        </li>
                        <li class="u-inline">
                            <a href="{{ static_reference('privacy') }}" class="v-hover--underline  u-white  u-no-underline">
                                link 2
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="o-grid__col  o-grid__col--5@xs  u-text--right">
                    datum
                </div>
            </div>
        </div>
    </div>
</footer>
