<!doctype html>
<html class="s-no-js  not-loaded" lang="nl" xml:lang="nl">

{% include head.html %}

<body class="u-bg--blue--pale-turqoise  u-blue--bunting">

{% include header.html %}

<main class="page-content  u-padding--y7  u-bg--white" aria-label="Content">
    <div class="o-grid  o-grid--fixed">
        <div class="o-grid__row">
            <div class="o-grid__col  o-grid__col--12@xs">

                {{ content }}

            </div>
        </div>
    </div>
</main>

{% include footer.html %}

</body>
</html>
